[Desktop Entry]
Type=Application
Name=Bench Cleared Widget
Comment=A small desktop widget
Exec=/usr/bin/bench-cleared-widget
Icon=bench-cleared-widget
Categories=Utility;
