[Desktop Entry]
Name=Bench Browser
Comment=A web browser
Exec=/usr/bin/bench-browser %U
Icon=bench-browser
Type=Application
Categories=Network;WebBrowser;
